.headerSection {
  background-color: #fff;
  top: 0;
  z-index: 100;
  font-family: Roboto;
  box-shadow: 0px 0px 15px #efefef;
  /* padding: 0.5em 2em; */
  background-color: #fff;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.header_category_area {
  background: #e5e5e5;
}
.header_hr {
  margin-bottom: 0;
}
.header_categories {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 31px; */
  font-size: 14px;
  /* color: #000; */
}

.search_result_not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  font-size: 14px;
  /* color: #686868; */
}
.header_cat_link {
  height: 100%;
  /* background: #f3f3f3; */
  padding: 1em 2em;
  color: #000;
  position: relative;
  transition: 0.3s ease-in-out;
}
.header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0em;
  gap: 20px;
}
.header_cat_link:hover {
  background: #ffffff;
  color: #000;
  transition: 0.3s ease-in-out;
}
.header_cat_link::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 1px;
  background: #000;
  left: 0;
  transition: 0.3s ease-in-out;
  display: none;
}
.header_cat_link:hover.header_cat_link::after {
  display: block;
  transition: 0.3s ease-in-out;
}

.egr-logo {
  width: 150px;
  margin-right: 0px;
}
.egr-logo2 {
  width: 180px;
  margin-right: 50px;
  display: none;
}

.headerLinks {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.app_icon {
  margin-right: 20px;
  cursor: pointer;
}
.app_icon:hover {
  color: #229e54;
}

.borrow {
  padding-top: 5px !important;
  padding: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
  box-shadow: 0px 6px 3px #f4f4f4;
  color: #229e54;
}

.relative {
  position: relative !important;
}
.validate {
  padding-top: 5px !important;
  padding: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
  box-shadow: 0px 6px 3px #f4f4f4;
  color: #229e54;
}

.borr {
  display: none;
}
.valid {
  display: none;
}

.menuIcons {
  display: flex;
  align-items: center;
}

.Icon1 {
  width: 60px !important;
  font-size: 40px !important;
}

.sign_up_link2 {
  color: #fff;
}
.sign_in_link {
  color: #55bc7e;
}
.sign_in_link:hover {
  color: #fff;
}
.docs,
.market,
.about {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  color: #383838;
  position: relative;
  margin: 0;
  width: 100%;
  padding: 1.5em 1em;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.header_drop_txt_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header_search {
  width: 100%;
  position: relative;
}
.header_search_bar {
  width: 100%;
  border-radius: 6px;
  border: solid 1px #229e54;
  padding: 0.6em 1em;
  font-size: 14px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.close_drop_div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  background: #ffffff00;
  top: 0;
  z-index: 1;
}

.header_search_icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin: auto;
  font-size: 4px !important;
  color: #ffffff;
  background: #229e54;
  height: 100% !important;
  width: 5% !important;
  padding: 9px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.header_search_bar:focus-visible + .header_search_icon {
  background: #4fcb81;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.product {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  color: #383838;
  position: relative;
  margin-right: 20px;
}
.company {
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  color: #383838;
  position: relative;
  display: flex;
  align-items: center;
}

.products-menu {
  position: absolute;
  background: #fff;
  padding: 0em;
  /* right: -4px; */
  /* left: -95px; */
  box-shadow: 2px 9px 24px #c6e4d2;
  border-radius: 0px 0px 5px 5px;
  transition: 1.5s linear;
  top: 35px;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  z-index: 20;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  0% {
    top: 55px;
    opacity: 0;
  }
  100% {
    top: 35px;
    opacity: 1;
  }
}

.products-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -1px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #ffffff00;
  border-bottom: 10px solid #ebebeb;
}
.header_drop_arrow_icon {
  font-size: 14px !important;
}
.menu2 {
  top: 35px;
  right: -9%;
  animation: fadeIn 0.5s linear;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s linear;
}
.ArrowDownIcon2,
.ArrowDownIcon {
  width: 9px;
  margin-left: 5px;
  transition: 0.5s linear;
  display: inline-block;
  height: 40px;
}

.drop-borrow {
  font-size: 14px;
}
.drop-borrow-link {
  font-size: 12px;
  color: #000;
}
.drop-borrow-link:hover {
  color: #229e54;
}
.docs:hover,
.market:hover,
.about:hover {
  color: #229e54;
  background: #f1f1f1;
}
.header_drop_icons {
  background: #e3e3e3;
  padding: 4px;
  border-radius: 50px;
  font-size: 30px !important;
}
.product:hover,
.company:hover {
  color: #229e54;
}
.activeLink {
  color: #229e54;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}
.activeLink:hover {
  color: #383838;
}
.Line {
  position: absolute;
  width: 100% !important;
  height: 3.5px;
  background: #229e54;
  bottom: 0;
  left: 0;
  border-radius: 0;
  height: 1.5px;
}
vl {
  width: 1px;
  height: 34px;
  background: #e6e6e6;
  margin-right: 10px;
}

.headerButtons {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
  padding: 0;
}
.getLoan {
  margin-right: 15px;
  padding: 1em 2em;
  border: solid;
  border-color: #229e54;
  color: #229e54;
  border-width: 0.5px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.css-zddlty-MuiButtonBase-root-MuiButton-root:hover {
  background: none !important;
}
.css-zddlty-MuiButtonBase-root-MuiButton-root {
  background: none !important;
  text-transform: none !important;
}
.css-1yhn5ap-MuiModal-root-MuiPopover-root-MuiMenu-root .MuiPaper-root {
  margin-top: 31px;
  top: 26px;
  left: 577px;
  z-index: 200;
}
.companyLinks.css-1yhn5ap-MuiModal-root-MuiPopover-root-MuiMenu-root
  .MuiPaper-root {
  margin-top: 31px !important;
  top: 32px !important;
  left: 680px !important;
  z-index: 200;
}

.getLoan:hover {
  border: solid;
  border-color: #e4a788;
  background-color: #e4a788;
  border-width: 0.5px;
  color: #fff;
  transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 10px #d5d5d5;
}
.connect {
  padding: 1em 2em;
  background: #229e54;
  color: #ffff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.connect:hover {
  background: #e4a788;
  color: #fff;
  transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 10px #d5d5d5;
}

.hamburgerOpen {
  display: none;
}
.ExploreLoanDropdown {
  width: 400px;
  position: absolute;
  top: 40px;
  /* display: none; */
}
.loanCatDropdown {
  display: flex;
  padding: 2em;
  background: #ffff;
  justify-content: space-between;
  box-shadow: 0px 0px 15px gainsboro;
  border-radius: 10px;
}
.loanCatTitle,
.loanStatusTitle {
  color: #229e54;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 14px;
}
.loanStatli1,
.loanCatli1 {
  color: #525252;
  font-size: 13px;
}
.loanStatli1:hover,
.loanCatli1:hover {
  color: #229e54;
  text-decoration: underline;
}
.onMobile {
  display: none;
}

.MuiAccordionSummary-root {
  display: flex;
  padding: 0px !important;
  min-height: 48px;
}

.MuiButton-label {
  text-transform: none !important;
  font-size: 13px !important;
}
.borrower,
.validator {
  background: #ffff !important;
  /* box-shadow: 0px 6px 3px #f1f1f1; */
  color: #229e54 !important;
  text-decoration: unset !important;
}
.DropLink {
  color: #424242 !important;
  font-size: 14px !important;
  margin-left: 10px !important;
}
.DropLink:hover {
  color: #229e54 !important;
}

.BorrowClass,
.validatorClass {
  font-family: "Mulish" !important;
  cursor: default !important;
}
.egrLogo2Cont {
  display: none;
}
.makeStyles-drawerHeader-9 {
  display: flex;
  padding: 0px 8px;
  min-height: 56px;
  align-items: center;
  justify-content: flex-end !important;
}
.makeStyles-drawerPaper-8 {
  width: 100% !important;
}

.jss9 {
  justify-content: flex-end !important;
}

.jss8 {
  width: 100% !important;
}
.connectb {
  padding: 1em 2em;
  background: #229e54;
  color: #ffff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}
.connectb:hover {
  background: #e4a788;
  color: #fff;
  transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 10px #d5d5d5;
}
/* .benefitsSection .container-md,
.container-sm,
.container {
  max-width: 950px !important;
} */

/* .explore:active + .ExploreLoanDropdown {
  display: block;
}
.ExploreLoanDropdown:active {
  display: block;
} */
