/* .

.h_update_hero_area {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.market_home_hero_area2 {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.market_home_hero_area3 {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.market_home_area1_cont1 {
  width: 100%;
}



.market_home_area2_cont1 {
  width: 100%;
}
.home_area_img {
  width: 80%;
  margin: auto;
}

.home_area1_btn {
  background: #239e54;
  color: #fff;
  padding: 1em 3em;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: -1px 6px 25px #7ecd9d;
} */

.h_update_hero_section {
  padding: 4em 0em;
  padding-top: 12em;
  position: relative;
}

.h_update_hero_area {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.h_update_hero_area1_title {
  font-size: 48px;
  font-weight: 800;
  line-height: 54px;
}

.h_update_hero_area1_para {
  color: grey;
  margin-top: 30px;
  font-size: 16px;
  width: 100%;
}

.h_update_hero_area1 {
  width: 100%;
}
.h_update_hero_area2 {
  width: 100%;
  width: 45%;
  margin-left: 50px;
  position: relative;
}

.h_update_hero_area1_para_btns {
  margin-top: 18px;
  display: flex;
  align-items: center;
}
.h_update_hero_area1_para_btn1 {
  border: none;
  border-radius: 10px;
  padding: 0.8em 1.6em;
  background: #239e54;
  color: #fff;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 1em;
  transition: 0.3s ease-in-out;
}
.h_update_hero_area1_para_btn1:hover {
  /* border: solid; */
  /* border-color: #e4a788; */
  background-color: #e4a788;
  /* border-width: 1px; */
  color: #fff;
  transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 10px #d5d5d5;
}
.h_update_hero_area1_para_btn2 {
  border: solid;
  border-radius: 10px;
  padding: 0.8em 1.6em;
  background: none;
  color: #239e54;
  border-width: 1px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 1em;
  transition: 0.3s ease-in-out;
}

.h_update_hero_area1_para_btn2:hover {
  border: solid;
  border-color: #e4a788;
  background-color: #e4a788;
  border-width: 1px;
  color: #fff;
  transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 10px #d5d5d5;
}
.h_update_hero_area_img {
  width: 100%;
}

.circle_slides {
  width: 120%;
  position: absolute;
  top: -28px;
  bottom: 0;
  z-index: -1;
  left: -11%;
  right: 0%;
  opacity: 0.6;
}

.new_hero_circle1 {
  position: absolute;
  right: 52%;
  top: 70%;
  width: 8%;
}

.new_hero_bg_blur {
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -1;
}
.new_hero_circle2 {
  position: absolute;
  top: 36%;
  width: 4%;
  right: 80%;
  z-index: -1;
}
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
.new_hero_section2 {
  padding: 4em 0em;
  padding-top: 4em;
  position: relative;
  background: #f4fff7;
}

.operations_cards_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.operations_card1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: solid;
  padding: 1em;
  height: 249px;
  border-width: 1px;
  border-radius: 10px;
  border-color: #dadada;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s linear;
}
.operations_card1:hover {
  background: #fff;
  box-shadow: 0px 11px 30px #b6d2c1;
  border-color: #ffff;
  transition: all 0.3s linear;
}

.operations_card1_icon1 {
  width: 40px;
}
.operations_card1_icon2 {
  width: 40px;
  opacity: 0;
}
.operations_card1_icon1a {
  width: 55px;
}
.operations_card1_icon2a {
  width: 55px;
  opacity: 0;
}
.operations_card1_icon1b {
  width: 45px;
}
.operations_card1_icon2b {
  width: 45px;
  opacity: 0;
}
.operations_card1_icon1c {
  width: 55px;
}
.operations_card1_icon2c {
  width: 55px;
  opacity: 0;
}
.hover_color {
  font-weight: 800;
  font-size: 18px;
}
.operations_card1:hover .hover_color {
  color: #239e54;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon1 {
  display: none;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon1a {
  display: none;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon1b {
  display: none;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon1c {
  display: none;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon2 {
  opacity: 1;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon2a {
  opacity: 1;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon2b {
  opacity: 1;
  transition: all 0.3s linear;
}
.operations_card1:hover .operations_card1_icon2c {
  opacity: 1;
  transition: all 0.3s linear;
}

.new_hero_left_dots {
  position: absolute;
  top: -150px;
  width: 224px;
}
/* ========== */
/* ========== */
/* ========== */
/* ========== */
/* ========== */

.new_home_attributes_section1 {
  padding: 4em 0em;
  padding-top: 4em;
  position: relative;
  background: #ffffff;
}
.new_home_attributes_section4 {
  padding: 4em 0em;
  padding-top: 4em;
  position: relative;
  background: #f3fff7;
}

.new_home_attributes_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.new_home_attributes_area1 {
  width: 100%;
}
.new_home_attributes_area2 {
  width: 100%;
}
.new_home_attributes_area1_txt_head {
  color: #239e54;
  font-size: 38px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 25px;
}
.new_home_attributes_area1_txt_para {
  color: black;
  font-size: 16px;
  font-weight: 100;
}

.link_arrow {
  font-size: 13px !important;
}
.new_home_attributes_area1_link {
  color: #239e54;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline !important;
  transition: 0.3s ease-in-out;
}
.new_home_attributes_area1_link:hover {
  /* border: solid; */
  /* border-color: #e4a788; */
  color: #e4a788;
  /* border-width: 1px; */
  /* color: #fff; */
  transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-in-out;
  /* box-shadow: 0px 4px 10px #d5d5d5; */
}

.take_loan_img {
  width: 70%;
  margin-left: 80px;
}
.take_loan_img2 {
  width: 80%;
  margin-right: 80px;
}
.take_loan_img5 {
  width: 80%;
  margin-left: 80px;
}
/* color: #239e54; */
.shape_eggg {
  position: absolute;
  top: -45%;
  width: 441px;
  left: 0;
}
.shape_eggg2 {
  position: absolute;
  top: 0;
  width: 421px;
  right: 0;
}
.shape_eggg3 {
  position: absolute;
  bottom: 0;
  width: 395px;
  left: 0;
}
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
.build_savings_area {
  display: flex;
  justify-content: space-between;
}
.build_savings_area1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.build_savings_area2 {
  width: 150%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.build_savings_area2_conts1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.build_savings_area2_conts1_box1 {
  background: #fff;
  width: 48%;
  border-radius: 20px;
  padding: 1.5em 2em;
  box-shadow: 0px 0px 20px #d1e9da;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 100%;
}

.build_savings_area2_conts1_box1_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.build_savings_area2_conts1_box1_para {
  font-size: 16px;
  color: grey;
  font-weight: 300;
}

.build_savings_area2_conts1_box1_contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conts1_box1_contents_icon {
  background: #6bc58d;
  color: #fff;
  padding: 5px;
  font-size: 35px !important;
  /* width: 28px; */
  border-radius: 50px;
  border-bottom-left-radius: 10px;
}
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */

.users_compliment_section {
  padding: 4em 0em;
  padding-top: 4em;
  position: relative;
  background: #ffffff;
}

.users_compliment_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  overflow: hidden;
}
.users_compliment_box {
  width: 100%;
}
.users_compliment_number {
  width: 100%;
}
.customers .testimonials {
  height: 400px;
  margin: auto;
  overflow-y: hidden;
  position: relative;
  width: auto;
}
.element {
  animation: 20s linear 0s infinite normal none running eBAbyX;
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
  /* animation-play-state: ; */
}

@keyframes eBAbyX {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-500px);
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
.testimonials .box {
  max-width: 420px;
  padding: 11px 17px 24px 18px;
  margin-bottom: 10px !important;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #aec9b9;
  background: #eefff5;
}
.clear-right {
  clear: right;
}

.compliment_para {
  font-size: 12px;
}

.compliment_number_title {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
}
.users_compliment_number {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button.compliment_btn {
  width: 40%;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  background: #239e54;
  color: #ffff;
  font-weight: 600;
}
/* ================= */
/* ================= */
/* ================= */

.featured_section {
  padding: 4em 0em;
  padding-top: 4em;
  position: relative;
  background: #f2fff7;
}
@media (max-width: 1080px) {
  .build_savings_area2_conts1_box1 {
    padding: 1.5em 1em;
  }
  .build_savings_area2_conts1_box1_title {
    font-size: 16px;
  }
  .build_savings_area2_conts1_box1_para {
    font-size: 13px;
  }
}
