.savings_section {
  padding: 4em 0em;
  padding-top: 12em;
  position: relative;
}
.savings_section .container {
  max-width: 1274px;
  /* overflow: hidden; */
}

.savings_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.savings_area1 {
  width: 100%;
}
.savings_area2 {
  width: 150%;
}

.savings_area1_title {
  font-size: 62px;
  font-weight: 700;
}

.savings_area1_para {
  width: 83%;
  margin-bottom: 25px;
  margin-top: 20px;
}
button.savings_area_btn {
  border: none;
  padding: 1em 2.5em;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  background: #239e54;
}
.save_app_phone {
  width: 110%;
}

/* ========== */
/* ========== */
/* ========== */
/* ========== */
.savings_section2 {
  padding: 4em 0em;
  padding-top: 4em;
  position: relative;
  background: #f2fff7;
}
.savings_section2 .container {
  max-width: 1274px;
  /* overflow: hidden; */
}
.savings_section2_area {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /* align-items: center; */
  justify-content: space-between;
}
.savings_section2_area_txts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
  justify-content: space-between;
}
.savings_section2_area_title {
  font-size: 40px;
  font-weight: 700;
}
.savings_section2_area_conts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.savings_section2_area_box1 {
  background: #fff;
  width: 32%;
  border-radius: 20px;
  padding: 1.5em 2em;
  box-shadow: 0px 0px 20px #d1e9da;
  display: flex;
  flex-direction: column;
  grid-gap: 35px;
  gap: 35px;
  height: 100%;
}

.LEFTARROW {
  margin-top: 30px;
  position: relative;
  z-index: 3;
  padding: 1em 0em;
}

.carous_list {
  box-sizing: border-box;
  display: inline-block;
  height: 228px;
  /* left: 2912px; */
  list-style-type: none;
  margin: auto 12px;
  /* position: absolute; */
  /* top: 0px; */
  transform: scale(1);
  transition: transform 0.4s linear 0s;
  vertical-align: top;
  width: 95%;
  background: #f2fff7;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #b1cbbb;
}

.storeTiles_storeTileContainer__HoGEa {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14.25rem;
  padding: 0.25rem;
  width: 100%;
  grid-column: span 2 / span 2;
}
.storeTiles_storeTileOffersContainer__3v8lC {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  margin: 0.25rem;
}
.storeTiles_storeTileBottomContainer__2sWHh {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2.5rem;
  padding: 0.25rem 0.5rem;
  position: relative;
  box-shadow: 0px 0px 3px grey;
  bottom: 0px;
}
.asset_name {
  font-weight: 700;
  text-align: left;
  font-size: 12px;
  color: #000000;
  white-space: nowrap;
  width: 50%;
  /* border: 1px solid #000000; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-bottom: 10px; */
}
.asset_title {
  width: 50%;
  font-size: 10px;
  text-align: right;
  color: #239e54;
}

.items_remaining_btn {
  color: #ffffff;
  width: 40%;
  font-size: 10px;
  border: none;
  background: #239e54;
  border-radius: 6px;
  padding: 0.5em 0em;
  /* border-width: 1px; */
}
.items_remaining_btn2 {
  color: #239e54;
  width: 25%;
  font-size: 9px;
  border: solid;
  background: #ffffff;
  border-radius: 6px;
  padding: 0.5em 0em;
  /* border-width: 1px; */
  border-width: 1px;
}
.LEFTARROW .react-multiple-carousel__arrow--left {
  left: calc(4% + -48px);
}
.LEFTARROW .react-multiple-carousel__arrow--right {
  right: calc(4% + -48px);
}
.TITE {
  font-size: 26px;
}

.LEFTARROW .react-multiple-carousel__arrow::before {
  font-weight: 900;
  color: #000;
}
.LEFTARROW .react-multiple-carousel__arrow--left,
.LEFTARROW .react-multiple-carousel__arrow--right {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 15px #b8d2c2;
  right: 2px;
  top: 45%;
}
