.savings_section {
  padding: 4em 0em;
  padding-top: 12em;
  position: relative;
}
.left_savings_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}
.right_savings_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}
/* .savings_section .container {
  max-width: 1274px;
  /* overflow: hidden; */
/* } */

.savings_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.savings_area1 {
  width: 100%;
}
.savings_area2 {
  width: 150%;
}
.relate_div {
  position: relative !important;
}

.savings_area1_title {
  font-size: 50px;
  font-weight: 800;
  line-height: 1em;
}
.innnn {
  width: 65%;
  position: relative;
}



.savings_area1_para {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 20px;
}
button.savings_area_btn {
  border: none;
  padding: 1em 2.5em;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  background: #239e54;
}
.save_app_phone {
  width: 110%;
}

/* ========== */
/* ========== */
/* ========== */
/* ========== */
.savings_section2 {
  padding: 4em 0em;
  padding-top: 4em;
  position: relative;
  background: #f2fff7;
}
/* .savings_section2 .container {
  max-width: 1274px;
  /* overflow: hidden; */
/* } */
.savings_section2_area {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /* align-items: center; */
  justify-content: space-between;
}
.savings_section2_area_txts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
  justify-content: space-between;
}
.savings_section2_area_title {
  font-size: 40px;
  font-weight: 700;
}
.savings_section2_area_conts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.savings_section2_area_box1 {
  background: #fff;
  width: 32%;
  border-radius: 20px;
  padding: 1.5em 2em;
  box-shadow: 0px 0px 20px #d1e9da;
  display: flex;
  flex-direction: column;
  grid-gap: 35px;
  gap: 35px;
  height: 100%;
}

.LEFTARROW {
  margin-top: 10px;
  position: relative;
  z-index: 3;
  padding: 1em 0em;
}

.carous_list {
  box-sizing: border-box;
  display: inline-block;
  height: 230px;
  /* left: 2912px; */
  list-style-type: none;
  margin: auto 12px;
  /* position: absolute; */
  /* top: 0px; */
  transform: scale(1);
  transition: transform 0.4s linear 0s;
  vertical-align: top;
  width: 95%;
  background: #f2fff7;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #b1cbbb;
}

.storeTiles_storeTileContainer__HoGEa {
  background-position: 48%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14.25rem;
  height: 100%;
  padding: 0.25rem;
  width: 100%;
  grid-column: span 2 / span 2;
}
.storeTiles_storeTileOffersContainer__3v8lC {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  margin: 0.25rem;
}
.storeTiles_storeTileBottomContainer__2sWHh {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.2rem;
  padding: 0.25rem 0.5rem;
  position: relative;
  box-shadow: 0px 0px 3px grey;
  bottom: -1px;
  flex-direction: column;
  align-items: flex-start;
}
.asset_name {
  font-size: 14px;
  font-weight: 400;
  /* font-weight: 300; */
  text-align: left;
  /* font-size: 13px; */
  color: #000000;
  white-space: nowrap;
  width: 100%;
  /* border: 1px solid #000000; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-bottom: 10px;*/
}
.asset_title {
  width: 100%;
  text-align: left;
  color: #000000;
  display: flex;
  align-items: baseline;
  grid-gap: 0px;
  gap: 0px;
  font-size: 16px;
  font-weight: 700;
  flex-direction: column;
}
.slashed_price {
  color: #8b8b8b;
  text-decoration: line-through 1px !important;
  font-weight: 500;
  font-size: 11px;
}

.items_remaining_btn {
  color: #ffffff;
  width: 40%;
  font-size: 10px;
  border: none;
  background: #239e54;
  border-radius: 6px;
  padding: 0.5em 0em;
  /* border-width: 1px; */
}
.items_remaining_btn2 {
  color: #239e54;
  width: 50%;
  font-size: 10px;
  border: solid;
  background: #ffffff;
  border-radius: 6px;
  padding: 0.5em 0em;
  /* border-width: 1px; */
  font-weight: 700;
  border-width: 1px;
}
.LEFTARROW .react-multiple-carousel__arrow--left {
  left: calc(4% + -48px);
}
.LEFTARROW .react-multiple-carousel__arrow--right {
  right: calc(4% + -48px);
}
.TITE {
  font-size: 26px;
}

.LEFTARROW .react-multiple-carousel__arrow::before {
  font-weight: 900;
  color: #000;
}
.LEFTARROW .react-multiple-carousel__arrow--right {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 15px #b8d2c2;
  right: 2px;
  top: 45%;
}
.LEFTARROW .react-multiple-carousel__arrow--left {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 15px #b8d2c2;

  top: 45%;
}
.item_card_area {
  padding: 2em 0em;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #dbdbdb;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 0em;
  padding-top: 0;
}
.bg_a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d3ebdc;
  padding-top: 0em;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0em 2em;
}
.no_margg {
  margin: 0px;
}
.forward_icons {
  font-size: 18px !important;
}
.see_all_cat {
  display: flex;
  align-items: center;
  color: #000;
}
.ouright_sell {
  color: #229e54;
  font-weight: 700;
  font-size: 18px;
}
.per_day_symbol {
  display: flex;
  align-items: center;
  font-size: 9px;
  color: #000;
}

.amount_per_day_div {
  color: #229e54;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3px;
  justify-content: flex-end;
}

.asset_prices_div {
  display: flex;
  grid-gap: 0px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1168px) {
  .asset_name {
    font-size: 11px;
  }
  .asset_title {
    font-size: 12px;
  }
  .storeTiles_storeTileBottomContainer__2sWHh {
    min-height: 0rem;
  }
  .products_display_body_conts_banner_cont {
    width: 100%;
  }
  .products_display_body_conts2 {
    padding: 0em 1em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    gap: 15px;
    width: 55%;
  }
}
