.walletClass1 {
  padding: 0px 20px;
  /* background-color: #fefdf3;  */
  background-color: #a1ecbf5c;
}
.walletSubClass1 {
  border-left: 2px solid #229e54;
}
.walletSubClass2 {
  padding: 15px;
}

.walletSubClass4 {
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #229e54;
  color: #fff;
  padding: 8px 15px;
  font-size: 17px;
  font-weight: 300;
}

.walletClass2 {
  background-color: #000000;
  color: white;
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 800;
}
.walletClass3 {
  padding: 40px 15px 5px 15px;
}
.create_wallet_div{
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;

}
.create_icon:hover {
  color: #41ba71;
}
.create_icon {
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}
.walletSubClass3ng {
  background-color: #41ba71;
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  border-color: #41ba71;
  border-width: 1px;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.spanEstimated {
  font-weight: 300;
}

.arrowSpan {
  font-weight: 700;
  font-size: 32px;
}

.formCheckUp {
  padding: 15px 0px;
}
.checkBoxMargin {
  margin-right: 5px;
}
.formConcept {
  border: 1px solid #e7e7e8;
  border-radius: 4px;
}
.formConcept1 {
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebecf0;
}
.formConceptSup {
  background-color: #239e54;
  /* border: 1px solid #229e54; */
  color: white;
  padding: 13px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.formConceptWallet {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.starRateIcon {
  color: #fff;
  padding: 6px;
  border-radius: 50%;
  background-color: #229e54;
  margin-right: 10px;
}
.divConcept2 {
  padding: 20px 15px 8px 15px;
  display: flex;
}
.nigeriaCurrency {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
}
.depositButton {
  border: none;
  padding: 8px 10px;
  color: black;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #229e54;
}
.depositButton1 {
  border: none;
  background-color: #fff;
  border: 1px solid #229e54;
  padding: 8px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
}

.buttonMenu_drop {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.buyAndSellDiv {
  border: 1px solid #e7e7e8;
  padding-bottom: 60px;
  flex: 1.5;
  margin-left: 35px;
  border-radius: 5px;
  align-self: start;
}

.buyAndSellDivP {
  padding: 18px 15px;
  background-color: #ebecf0;
  font-size: 23px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.buyAndSellDivP1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding-top: 80px;
  margin-bottom: 15px;
}
.buyAndSellDivP2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 28px;
}
.buyAndSellDivButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyButton1 {
  border: none;
  padding: 8px 50px;
  background-color: #229e54;
  color: #fff;
  border-radius: 5px;
  margin-right: 30px;
}
.sellButton2 {
  border: none;
  padding: 8px 50px;
  color: #fff;
  border-radius: 5px;
  background-color: #e4a788;
}
.DivCap {
  display: flex;
}
/* .buyAndSellDiv{
   display: none;
}  */
.mena {
  display: none;
}
.thanks {
  display: none;
}
.mena {
  flex: 1.5;
  align-self: start;
  margin-left: 35px;
  padding-left: 15px;
}
.mena1 {
  padding: 10px 10px;
  border-left: 3px solid #e4a788;
  background-color: #ecc6b378;
  margin-bottom: 20px;
}
.numbering {
  border: none;
  outline: 0;
  border-bottom: 1px solid #e7e7e8;
  width: 100%;
  padding-bottom: 5px;
  font-size: 14px;
}

.invalidConfirmationNumber {
  display: none;
}
.aboveSubmit {
  margin-top: 20px;
}
.thanks {
  flex: 1.5;
  margin-left: 35px;
}

.NGNHistoryWithdrawal {
  flex: 1.5;
  margin-left: 35px;
  border: 1px solid #e7e7e8;
  border-radius: 5px;
  align-self: start;
}
.withdrawNGN {
  background-color: #a1ecbf5c;
  padding: 15px 15px;
  font-size: 20px;
  font-weight: 700;
}
.withdrawNGN2 {
  display: flex;
  padding-top: 25px;
}
.withdrawNGN24 {
  padding: 0px 15px 20px 15px;
}
.DepositShift {
  padding: 10px 20px;
  margin-bottom: -17px;
  cursor: pointer;
  font-weight: 700;
}
.DepositShift:hover {
  background-color: #f3f3f5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.createDiv {
  border-bottom: 2px solid #229e54;
  color: #229e54;
}
.withdrawNGN7 {
  text-align: center;
  padding: 15px 0px;
}
#makingSense {
  display: none;
}
#makingSense2 {
  display: none;
}
#makingSense3 {
  display: none;
}

.thanks2Plus {
  flex: 1.5;
  margin-left: 35px;
}
#thanks2Plus {
  display: none;
}

#thanks2Plus50 {
  display: none;
}
.thanks1 {
  border: 1px solid #e7e7e8;
  border-radius: 5px;
  margin-bottom: 20px;
}
.NGNWithdraw {
  padding: 15px 12px;
  background-color: #a1ecbf5c;
}
.nigeria {
  font-weight: 900;
}
.Fax_T {
  padding: 35px 20px 20px 20px;
}
.newAccount_PLUS {
  border: 1px solid #e7e7e8;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.plusGo {
  color: #229e54;
  font-size: 24px;
  font-weight: 900;
}
.freeFastAccount {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 700;
}
.historyNGN1 {
  border: 1px solid #e7e7e8;
  border-radius: 5px;
}
.historyNGN2 {
  padding: 15px 12px;
  background-color: #a1ecbf5c;
}
.thereAreNo {
  padding: 20px 0px;
  text-align: center;
}
.addBag {
  width: 100%;
  height: 100%;
  top: 0;

  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  padding-top: 5rem;
  overflow-y: scroll;
  padding-bottom: 2em;
}
.newAccount1 {
  cursor: pointer;
}

.addBag {
  display: none;
}
.adding {
  height: 100%;
  overflow-y: hidden;
}
.addBag1 {
  width: 40%;
  height: auto;
  margin: auto !important;
  border-radius: 5px;
  box-shadow: 0px 2px 8px #cac2c285;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addnewAccountDivP {
  padding: 10px;
  background-color: #2dc3518f;
  color: #fff;
}
.formDivDialog {
  padding: 25px;
}
.formDivDialogBankName {
  padding-top: 10px;
  padding-left: 8px;
  margin-bottom: 5px;
  font-weight: 600;
}
.BankAccountNumber1 {
  padding-left: 8px;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16;
  font-size: 16px;
}
.BankAccountNumber2 {
  border: none;
  outline: 0px;
  font-size: 14px;
  border: 1px solid rgb(148 148 148 / 16%);
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.styleDiv {
  padding-left: 10px;
}
.SupportWithdrawal {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 10px;
}
.CancelAndCreate {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.divVan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.depo:hover {
  background-color: #ddd;
}

.buttonMenu_drop {
  position: relative;
  display: inline-block;
}
/* .buttonMenu_drop:hover .downContent{display:block}   */
.show {
  display: block;
}
.shows_2 {
  display: none;
}
#tab1 {
  display: none;
}
.downContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  margin-top: 24px;
  margin-left: -130px;
  overflow: auto;
  padding: 10px 0px;
}
.depo {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
}
.create14 {
  width: 45%;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;

  text-align: center;
  color: #fff;
}
.cancel {
  background-color: #e4a788;
  border: 1px solid #e4a788;
}
.createWeek {
  background-color: #229e54;
  border: 1px solid #229e54;
}
.hiddenShow12 {
  padding: 5px 10px;
  font-size: 13px;
  color: red;
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0px 2px 10px #e2e3e4;
}
.hiddenShow13 {
  padding: 5px 10px;
  font-size: 13px;
  color: red;
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0px 2px 10px #e2e3e4;
}
.hiddenShow12 {
  display: none;
}
.hiddenShow13 {
  display: none;
}
.thanks2Plus1 {
  border: 1px solid #e7e7e8;
  border-radius: 5px;
  margin-bottom: 20px;
}
.thanks2Plus2 {
  background-color: #a1ecbf5c;
  padding: 15px 15px;
  font-weight: 800;
  letter-spacing: 0.005em;
}
.thanks2Plus3 {
  padding: 25px 17px;
}
.thanks2Plus4 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}
.thanks2Plus5 {
  font-weight: bold;
  margin-bottom: 10px;
}
.thanks2Plus6 {
  width: 210px;
  height: 210px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanks2Plus7 {
  margin-bottom: 10px;
}
.thanks2Plus8 {
  padding: 10px 15px;
  background-color: #a1ecbf5c;
  outline: 0;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 25px;
}
.thanks2Plus9 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.thanks2Plus10 {
  font-size: 14px;
  letter-spacing: 0.005em;
}
.thanks2Plus11 {
  border: 1px solid #e7e7e8;
  border-radius: 5px;
}
.thanks2Plus12 {
  background-color: #a1ecbf5c;
  padding: 20px 15px;
  font-weight: bold;
  font-size: 20px;
}
.thanks2Plus13 {
  padding: 30px 10px;
  text-align: center;
}
.contactSupport {
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000000;
  padding-top: 12rem;
  overflow-y: scroll;
  padding-bottom: 2em;
  backdrop-filter: blur(6px);
}

.contactSupport1 {
  background-color: #fff;
  width: 50%;
  margin: auto !important;
  border-radius: 5px;
}
.contactSupport2 {
  background-color: #a1ecbf5c;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}
.contactSupport21 {
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
}
.contactSupport3 {
  padding: 10px 15px;
  background-color: #229e54;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #15753c96;
  cursor: pointer;
}

.contactSupport {
  display: none;
}

.verifyCode {
  padding: 15px 10px;
  border-left: 3px solid #229e54;
  background-color: #a1ecbf5c;
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
.verifyCode1 {
  border: none;
  outline: 0;
  padding: 10px 10px;
  font-size: 14px;
  letter-spacing: 0.005em;
  border: 1px solid #e7e7e8;
  width: 100%;
  border-radius: 5px;
}
.verifyCode2 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.verifyCode3 {
  padding: 10px 5px;
  border-radius: 5px;
  width: 45%;
  border: 1px solid #e7e7e8;
  text-align: center;
  cursor: pointer;
}
.invalidConfirmationCode {
  background-color: #fff;
  color: red;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03em;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0px 2px 10px #e8deded6;
  margin-top: 5px;
}
.invalidConfirmationNumber {
  background-color: #fff;
  color: red;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03em;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0px 2px 10px #e8deded6;
  margin-top: 5px;
}

.verifyCode4 {
  padding: 10px 5px;
  border: 1px solid #e7e7e8;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.verify3 {
  background-color: #229e54;
  color: #fff;
}
.invalidConfirmationCode {
  display: none;
}
.verifyWithMe {
  display: none;
}

@media (max-width: 600px) {
  .contactSupport1 {
    width: 93%;
  }
  .contactSupport21 {
    flex-direction: column;
  }
  .contactSupport3 {
    margin-bottom: 10px;
    text-align: center;
  }
  .contactSupport {
    padding-top: 9rem;
  }
}

@media (min-width: 600px) {
  .contactSupport1 {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .contactSupport1 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .contactSupport1 {
    width: 43%;
  }
}

@media (max-width: 600px) {
  .addBag1 {
    width: 80%;
  }
}
@media (min-width: 600px) {
  .walletSubClass1 {
    max-width: 640px;
    margin: 0px auto;
  }

  /* .walletSubClass3ng {
    max-width: 640px;
    margin: 0px auto;
    padding-bottom: 40px;
    /* box-shadow:0px 2px 6px #4faf757d ; */
  /* } */
  .walletClass2 {
    padding: 24px 65px;
    font-size: 22px;
    font-weight: 700;
  }

  .formCheckUp,
  .formConcept {
    max-width: 640px;
    margin: 0px auto;
  }
}

@media (max-width: 992px) {
  .buyAndSellDiv {
    display: none;
  }
  .DivCap {
    display: block;
  }
  .mena {
    display: none;
  }
  .thanks {
    display: none;
  }
}

@media (min-width: 992px) {
  .walletSubClass1 {
    max-width: 921px;
    margin: 0px auto;
  }

  .walletClass2 {
    padding: 24px 50px;
    font-size: 19px;
    font-weight: 700;
  }
  /* .walletSubClass3ng {
    max-width: 921px;
  } */
  .formCheckUp {
    max-width: 400px;
    margin: 0px;
  }
  .formConcept {
    flex: 1;
    margin: 0px;
    align-self: start;
    padding-bottom: 20px;
  }
  .walletDrive {
    padding: 0px 38px;
  }
}
@media (min-width: 1025px) {
  .walletSubClass1 {
    max-width: 1025px;
  }
  /* .walletSubClass3ng {
    max-width: 1025px;
    margin: 0px auto;
  } */

  .walletDrive {
    padding: 0px 189px;
  }
}

@media (min-width: 1300px) {
  .walletSubClass1 {
    max-width: 942px !important;
    margin: 0px auto;
    font-size: 19px;
    border-left: 4px solid #229e54;
  }

  .walletClass2 {
    padding: 24px 201px;
  }

  /* .walletSubClass3ng {
    max-width: 942px !important;
  } */

  .walletDrive {
    /* padding: 0px 143px; */
    background: #fff;
    box-shadow: 0px 0px 15px #d3e5da;
    margin-top: 3em;
    border-radius: 14px;
    padding: 2em;
  }
}
/* @media (min-width:1200px){ 
    .walletDrive {
    padding: 0px 143px;
}
 } */
@media (min-width: 1440px) {
  .walletSubClass1 {
    max-width: 1040px !important;
    margin: 0px auto;
    font-size: 19px;
  }
  /* .walletSubClass3ng {
    max-width: 1036px !important;
  }
} */
}
