.other2 {
  flex: 4 1;
  padding: 4em 0em;
  width: 100vh;
  /* background: #000; */
  background: #f2fff7;
  padding-left: 0em;
  padding-top: 5em;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-bg {
  background: none !important;
  padding: 2em;
}
.no-bg .container {
  max-width: 1450px;
  /* overflow: hidden; */
}
/* .dash_savings_cards_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.card_cont1 {
  box-shadow: 0px 5px 10px #a1c3ae;
  border-radius: 23px;
  width: 95%;
  height: 205px;
  overflow: hidden;
  margin: auto;
}
.dash_home_area {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 30px #c6e1d1;
  margin-bottom: 30px;
  gap: 40px;
}
.card_cont_txt_tittle {
  font-size: 30px;
}
.card_cont_txtxs {
  position: absolute;
  color: #fff;
  font-weight: 700;
  top: 30%;
  text-align: left;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}
.savings_card {
  width: 100%;
}
.gtr {
  margin-top: 30px;
  position: relative;
  z-index: 3;
  padding: 1em 0em !important;
}
.savings_caption {
  font-size: 14px;
}
.savings_overview_title {
  font-size: 22px;
  font-weight: 800;
  color: #239e54;
  margin-bottom: 20px;
}

.savvvvv {
  box-shadow: 0px 0px 20px #caebd8;
  border-radius: 15px;
  margin-top: 30px;
}

.savings_overview_body_cont1 {
  background: #caefda;
  padding: 1em;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: #42a66c;
  box-shadow: 0px 4px 10px #9ad1b1;
  justify-content: space-between;
  width: 25%;
  position: relative;
  padding-right: 2em;
}
.saved_figure {
  background: #42a66c;
  color: #fff;
  width: 22%;
  height: 100%;
  position: absolute;
  right: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}
/* .savings_overview_body_cont2 {
  display: flex;
} */
.savings_overview_body_cont2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 35px;
  margin-top: 30px;
}
.savings_overview_body_cont2_1a {
  width: 32%;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  border-width: 1px;
  border: solid;
  box-shadow: 0px 7px 10px #e8f7ee;
  display: flex;
  grid-gap: 20px;
  grid-gap: 20px;
  gap: 20px;
  border-width: 1px;
  border-color: #d7e9df;
}
.save_overview_cont_img {
  width: 35%;
}
.save_overview_cont_img_imgg {
  width: 100%;
}
.save_item_details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.save_item_details_titles {
  font-size: 12px;
  color: grey;
  font-weight: 700;
}
.save_overview_cont_title {
  font-size: 16px;
  color: #42a66c;
}
.save_overview_cont_items_left {
  font-size: 12px;
  color: #42a66c;
}
button.save_overview_cont_items_top_up {
  font-size: 12px;
  padding: 0.2em 1em;
  border: solid #cdcdcd 1px;
  /* background: #e8b898; */
  color: #6d6d6d;
  border-radius: 6px;
  font-weight: 700;
  margin-top: 5px;
}
.save_overview_cont_img {
  width: 35%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  background: #f2fff7;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 410px) {
}
