.other2 {
  flex: 4 1;
  padding: 4em 0em;
  width: 100vw;
  /* background: #000; */
  background: #fefffe;
  padding-left: 0em;
  padding-top: 5em;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-bg {
  background: none !important;
  padding: 2em;
}
.no-bg .container {
  max-width: 1450px;
  /* overflow: hidden; */
}
/* .dash_savings_cards_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.card_cont1 {
  box-shadow: 0px 5px 10px #a1c3ae;
  border-radius: 10px;
  width: 95%;
  height: 87%;
  overflow: hidden;
  margin: auto;
}
.dash_home_area {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 30px #c6e1d1;
  margin-bottom: 30px;
  gap: 40px;
}
.card_cont_txt_tittle {
  font-size: 30px;
}
.card_cont_txtxs {
  position: absolute;
  color: #fff;
  font-weight: 700;
  top: 30%;
  text-align: left;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.savings_card {
  width: 100%;
  margin-top: -0.6em;
}
.gtr {
  margin-top: 0px !important;
  position: relative;
  z-index: 3;
  padding: 1em 0em !important;
  padding-bottom: 0em !important;
}

.gtr .react-multi-carousel-dot button {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px !important;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: #70bd91;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
  background: #e5fff0;
}
.gtr .react-multi-carousel-dot--active button {
  background: #338e59;
  width: 20px;
}

.savings_caption {
  font-size: 14px;
}
.savings_overview_title {
  font-size: 22px;
  font-weight: 800;
  color: #239e54;
  margin-bottom: 20px;
}

.savvvvv {
  box-shadow: 0px 0px 20px #caebd8;
  border-radius: 15px;
  margin-top: 30px;
  padding: 2em 0em;
}

.savings_overview_body_cont1 {
  background: #caefda;
  padding: 1em;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: #42a66c;
  box-shadow: 0px 4px 10px #9ad1b1;
  justify-content: space-between;
  width: 25%;
  position: relative;
  padding-right: 2em;
}
.saved_figure {
  background: #42a66c;
  color: #fff;
  width: 22%;
  height: 100%;
  position: absolute;
  right: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}
/* .savings_overview_body_cont2 {
  display: flex;
} */
.savings_overview_body_cont2 {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space; */
  gap: 35px;
  margin-top: 30px;
}
.savings_overview_body_cont2_1a {
  width: 32%;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  border-width: 1px;
  border: solid;
  box-shadow: 0px 7px 10px #e8f7ee;
  display: flex;
  grid-gap: 20px;
  grid-gap: 20px;
  gap: 20px;
  border-width: 1px;
  border-color: #d7e9df;
}
.save_overview_cont_img {
  width: 35%;
}
.save_overview_cont_img_imgg {
  width: 100%;
}
.save_item_details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.save_item_details_titles {
  font-size: 12px;
  color: grey;
  font-weight: 700;
}
.save_overview_cont_title {
  font-size: 16px;
  color: #42a66c;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.save_overview_cont_items_left {
  font-size: 12px;
  color: #42a66c;
}
.save_overview_cont_amount {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.save_item_details_btn {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.dashboard_transactions {
  background: #fff;
  box-shadow: 0px 0px 15px #d0ecdb;
  padding: 1em;
  border-radius: 10px;
  padding-top: 1em;
}
.transaction_headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  gap: 20px;
  background: #efefef;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 20px;
}
.not_trans_div {
  display: none;
}
.closeTranPopDiv {
  background: #dff2e6;
  color: #346f4c;
  border-radius: 5px;
  font-size: 24px !important;
  cursor: pointer;
  box-shadow: 0px 10px 10px #cae1d2;
}
.closeTranPopDiv:hover {
  color: #dff2e6;
  background: #346f4c;
  border-radius: 5px;
  font-size: 24px !important;
  cursor: pointer;
  box-shadow: 0px 10px 10px #cae1d2;
}
.tranPopHeading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}
.transaction_heading1 {
  padding: 20px;
  /* text-align: center; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  color: #8a8a8a;
  font-size: 14px;
  padding-bottom: 10px;
}
.center_this {
  justify-content: center;
}
.reduce_width {
  width: 50%;
  justify-content: flex-end;
}

.dashboard_transaction_body {
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  /* margin-top: 20px; */
}
.dashboard_transaction_body_cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  grid-gap: 20px;
  gap: 20px;
  border: solid 1px #eeeeee;
  /* border-radius: 10px; */
  /* margin-top: 10px; */
  cursor: pointer;
  position: relative;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.dashboard_transaction_body_cont1:hover {
  background-color: #f6f6f6;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.trans_div {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.39);
  /* padding: 0em; */
  z-index: 10000000;
  height: 100%;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.complete_circle {
  color: #0ecb81;
  font-size: 10px !important;
  margin-right: 5px;
}
.tranPop_div {
  background: #fff;
  box-shadow: 0px 0px 20px #5d5d5d;
  /* padding: 0em; */
  padding: 2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
  width: 25%;
}
.tranPop_div_cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #81988a;
}
.transPopData {
  font-size: 16px;
  color: #000;
  display: flex;
  align-items: center;
}
.dashboard_transac_body_cont1_layer1_completed_status {
  background: #b4f3da;
  color: #35a461;
  padding: 10px 25px;
  border-radius: 7px;
  font-size: 14px;
}
.arrow_down_deposit_icon {
  background: #0ecb81;
  border-radius: 50px;
  color: #fff;
  padding: 1px;
  font-size: 18px !important;
}
.dashboard_transac_body_cont1_layer1 {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 20px 10px;
  width: 100%;
  font-size: 14px;
}
.dashboard_transac_body_cont1_layer1_amount_cont {
  padding: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}
.dashboard_transac_body_cont1_layer1_type_cont {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.dashboard_transac_body_cont1_layer1_status_cont {
  padding: 20px;
  padding: 20px 10px;
}
.dashboard_transactions_header {
  font-size: 18px;
  font-weight: 700;
  color: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.see_all_transac_link {
  font-size: 16px;
  text-decoration: underline !important;
  color: #42a66c;
}
button.save_overview_cont_items_top_up {
  font-size: 12px;
  padding: 0.2em 1em;
  border: solid #cdcdcd 1px;
  /* background: #e8b898; */
  color: #6d6d6d;
  border-radius: 6px;
  font-weight: 700;
  margin-top: 5px;
}
.save_overview_cont_img {
  width: 35%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  background: #f2fff7;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1634px) {
  .savings_overview_body_cont1 {
    width: 45%;
  }
}
@media screen and (max-width: 1116px) {
  .savings_overview_body_cont1 {
    width: 50%;
  }

  .save_item_details {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    gap: 9px;
    padding: 0em;
    padding-right: 0.2em;
    width: 100%;
  }
  .tranPop_div {
    width: 45%;
  }
}
@media screen and (max-width: 991px) {
  /* .products_hero_img {
    /* height: 150px; */
  /* border-radius: 5px; */
  /* } */
  .savvvvv {
    padding: 2em 0em;
  }
  .dash_home_area {
    padding: 2em 0.5em;
    padding-top: 0em;
    gap: 10px;
    box-shadow: 0px 0px 8px #c6e1d1;
  }
  .no-bg {
    background: none !important;
    padding: 0em 0em;
    padding-bottom: 2em;
  }
  /* .products_area2_cont1 {
    height: 130px;
  }
  .small_gif_hero_img {
    height: 130px;
  } */
  .products_hero_area {
    margin-top: 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    gap: 10px;
    flex-direction: column;
  }
  .products_area1 {
    width: 100%;
    /* height: 1; */
    border-radius: 15px;
    box-shadow: 0px 0px 5px #bfdccb;
  }
  .products_area2 {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    gap: 15px;
  }
  .savings_overview_body_cont1 {
    width: 60%;
  }
  .savings_overview_body_cont2 {
    flex-direction: column;
  }
  .savings_overview_body_cont2_1a {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .savvvvv {
    padding: 2em 0em;
  }
  .gtr {
    margin-top: 0px !important;
    position: relative;
    z-index: 3;
    padding: 0.5em 0em !important;
    padding-bottom: 0em !important;
  }
  .other2 {
    padding-top: 3.5em;
  }
  .dashboard_transac_body_cont1_layer1 {
    padding: 10px;
  }
  .dashboard_transac_body_cont1_layer1_amount_cont {
    padding: 10px;
  }
  .dashboard_transac_body_cont1_layer1_type_cont {
    padding: 10px;
    justify-content: flex-end;
  }
  .dashboard_transac_body_cont1_layer1_status_cont {
    display: none;
  }
  .transaction_heading1 {
    padding: 10px;
  }
  .reduce_width {
    justify-content: flex-end;
    display: none;
  }
  .center_this {
    justify-content: flex-end;
    padding: 10px;
  }
}
@media screen and (max-width: 630px) {
  .savings_overview_body_cont2_1a {
    width: 100%;
    height: 170px;
  }
  .savings_overview_body_cont1 {
    width: 100%;
  }
  .tranPop_div {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .card_cont1 {
    width: 100%;
  }
  .dashboard_transaction_body_cont1 {
    gap: 5px;
  }
  .transaction_headings {
    gap: 5px;
  }
}
@media screen and (max-width: 550px) {
  .savings_overview_body_cont2_1a {
    width: 100%;
    height: 125px;
  }
  .no_paddd .container {
    padding: 1em 0.5em;
  }

  .savings_overview_body_cont2 {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    grid-gap: 35px;
    gap: 15px;
    margin-top: 20px;
  }
  .dashboard_transactions_header {
    font-size: 16px;
  }
  .see_all_transac_link {
    font-size: 12px;
  }
  .dash_home_area {
    padding: 1em 0.5em;
    padding-top: 0em;
    grid-gap: 10px;
    gap: 10px;
  }
  .center_this {
    display: none;
  }
  .dashboard_transac_body_cont1_layer1_type_cont {
    display: none;
  }
  .dashboard_transac_body_cont1_layer1_amount_cont {
    padding: 10px;
    justify-content: flex-end;
  }
  .amnt_small {
    padding: 5px;
    justify-content: flex-end;
  }
  .dashboard_transac_body_cont1_layer1 {
    padding: 15px 5px;
  }
  .dashboard_transac_body_cont1_layer1_amount_cont {
    padding: 15px 5px;
    justify-content: flex-end;
  }
  .transaction_heading1 {
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  /* .products_hero_img {
    height: 150px;
    border-radius: 5px;
  } */
  /* .products_area2_cont1 {
    height: 130px;
  }
  .small_gif_hero_img {
    height: 130px;
  } */
  .products_hero_area {
    margin-top: 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    gap: 8px;
    flex-direction: column;
  }
  .products_area1 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #bfdccb;
  }
  .products_area2 {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    gap: 8px;
  }
}
@media screen and (max-width: 345px) {
  .products_area2_cont1 {
    height: 130px;
  }
  .small_gif_hero_img {
    height: 130px;
  }
}
