.nodata_found_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.nodata_txt {
  font-size: 18px;
  color: #42a66c;
  font-weight: 700;
}
.nodataImage {
  width: 150px;
}
@media screen and (max-width: 991px) {
  .nodataImage {
    width: 125px;
  }
}
