.product_display_cards_body {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  gap: 20px;
  justify-content: flex-start;
  padding: 2em;
  padding-bottom: 0;
}
.product_display_cards_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .product_display_card {
  width: 300px;
} */

.pagination_product_card_body {
  display: flex;
  gap: 20px;
}
.pagination_body {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
  gap: 50px;
  justify-content: space-between;
  /* background: grey; */
  /* padding: 2em 1em; */
  /* border-radius: 10px; */
  width: 75%;
  background: #fff;
  /* padding: 2em; */
  border-radius: 5px;
}
.pagination_header_body {
  /* font-size: 22px; */
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5em 1em;
}
.filter_products_body {
  width: 25%;
  background: #fff;
  border-radius: 5px;
  height: 500px;
  overflow: hidden;
  padding: 1em 1em;
}
.filter_products_body_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: flex-end;
  gap: 5px;
  justify-content: center;
}
.page-link {
  position: relative;
  display: block;
  /* padding: 0.5rem 0.75rem; */
  margin-left: -1px;
  line-height: 1.25;
  color: #000000 !important;
  background-color: #fff !important;
  border: 1px solid #d6e6dc !important;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #229e54 !important;
  border-color: #229e54 !important;
}
.pagination_header_body_cont1 {
  font-size: 22px;
}
.pagination_header_body2 {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5em 1.5em;
  font-size: 14px;
  color: #9b9b9b;
}
